<div class="max-w-6xl mx-auto bg-gray-50 shadow-lg rounded-xl p-10 space-y-10">

  <!-- Cabeçalho -->
  <div class="border-b pb-6">
    <h2 class="text-3xl font-bold text-blue-700">Cadastrar Imóvel</h2>
    <p class="text-gray-600 mt-2">Preencha os dados abaixo para cadastrar um novo imóvel.</p>
  </div>

  <!-- Informações principais -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <label class="block text-sm font-semibold text-gray-700">Título do Imóvel</label>
      <input type="text"
             class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    <div>
      <label class="block text-sm font-semibold text-gray-700">Preço</label>
      <input type="number"
             class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500"/>
    </div>
  </div>

  <!-- Seleções -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <label class="block text-sm font-semibold text-gray-700">Tipo de Imóvel</label>
      <select class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500">
        <option>Selecione...</option>
        <option value="casa">Casa</option>
        <option value="ap_padrao">Apartamento Padrão</option>
        <option value="ap_garden">Apartamento Garden</option>
        <option value="ap_mansao">Apartamento Mansão</option>
        <option value="ap_duplex">Apartamento Duplex</option>
        <option value="terreno">Terreno</option>
        <option value="comercial">Comercial</option>
        <option value="loja">Loja</option>
        <option value="kitnet">Kitnet</option>
      </select>
    </div>
    <div>
      <label class="block text-sm font-semibold text-gray-700">Tipo de Venda</label>
      <select class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500">
        <option>Selecione...</option>
        <option value="venda">Venda</option>
        <option value="aluguel">Aluguel</option>
      </select>
    </div>
    <div>
      <label class="block text-sm font-semibold text-gray-700">Situação do Imóvel</label>
      <select class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500">
        <option>Selecione...</option>
        <option value="novo">Novo</option>
        <option value="semi_novo">Semi Novo</option>
        <option value="antigo">Antigo</option>
        <option value="em_construcao">Em Construção</option>
      </select>
    </div>
  </div>

  <!-- Características -->
<div class="bg-white border rounded-lg p-6 shadow-sm">
  <h3 class="text-xl font-bold text-blue-700 mb-4">Características do Imóvel</h3>

  <section class="mt-6 grid grid-cols-4 gap-4">
    <div class="bg-yellow-100 p-4 rounded-lg text-center">
      <i class="fas fa-bed text-yellow-600 text-xl"></i>
      <p class="mt-2 font-medium">Quartos</p>
      <input type="number" formControlName="quartos" class="mt-1 w-full text-center border border-gray-400 rounded-md px-2 py-1"/>
    </div>
    <div class="bg-blue-100 p-4 rounded-lg text-center">
      <i class="fas fa-shower text-blue-600 text-xl"></i>
      <p class="mt-2 font-medium">Banheiros</p>
      <input type="number" formControlName="banheiros" class="mt-1 w-full text-center border border-gray-400 rounded-md px-2 py-1"/>
    </div>
    <div class="bg-red-100 p-4 rounded-lg text-center">
      <i class="fas fa-car text-red-600 text-xl"></i>
      <p class="mt-2 font-medium">Garagem</p>
      <input type="number" formControlName="garagem" class="mt-1 w-full text-center border border-gray-400 rounded-md px-2 py-1"/>
    </div>
    <div class="bg-green-100 p-4 rounded-lg text-center">
      <i class="fas fa-ruler-combined text-green-600 text-xl"></i>
      <p class="mt-2 font-medium">Área (m²)</p>
      <input type="number" formControlName="area" class="mt-1 w-full text-center border border-gray-400 rounded-md px-2 py-1"/>
    </div>
    <div class="bg-amber-100 p-4 rounded-lg text-center">
        <i class="fa-solid fa-person-booth text-amber-700 text-xl"></i>
        <p class="mt-2 font-medium">Suite</p>
        <input type="number" formControlName="suite" class="mt-1 w-full text-center border border-gray-400 rounded-md px-2 py-1"/>
    </div>
  </section>

   <div class="grid grid-cols-1 mt-10 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Área de Serviço -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temAreaServico"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-broom text-blue-600"></i>
      <span class="text-gray-700">Área de Serviço</span>
    </label>

    <!-- Armário na Cozinha -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temArmarioCozinha"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-kitchen-set text-blue-600"></i>
      <span class="text-gray-700">Armário na Cozinha</span>
    </label>

    <!-- Closet -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temCloset"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-shirt text-blue-600"></i>
      <span class="text-gray-700">Closet</span>
    </label>

    <!-- Cobertura -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temCobertura"
             class="h-5 w-5 text-blue-600 border-gray-400 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-building text-blue-600"></i>
      <span class="text-gray-700">Cobertura</span>
    </label>

    <!-- Condomínio Fechado -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temCondominioFechado"
             class="h-5 w-5 text-blue-600 border-gray-400 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-lock text-blue-600"></i>
      <span class="text-gray-700">Condomínio Fechado</span>
    </label>

    <!-- Escritório -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temEscritorio"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-briefcase text-blue-600"></i>
      <span class="text-gray-700">Escritório</span>
    </label>

    <!-- Armário no Quarto -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temArmarioQuarto"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-door-closed text-blue-600"></i>
      <span class="text-gray-700">Armário no Quarto</span>
    </label>

    <!-- Cozinha Americana -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temCozinhaAmericana"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-utensils text-blue-600"></i>
      <span class="text-gray-700">Cozinha Americana</span>
    </label>

    <!-- Box Banheiro -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temBoxBanheiro"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-bath text-blue-600"></i>
      <span class="text-gray-700">Box Banheiro</span>
    </label>

    <!-- Armario Projetado -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temArmarioProjetado"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-drawer text-blue-600"></i>
      <span class="text-gray-700">Armário Projetado</span>
    </label>

    <!-- Corbetura -->
    <label class="flex items-center space-x-3 cursor-pointer">
      <input type="checkbox" formControlName="temCobertura"
             class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"/>
      <i class="fa-solid fa-building text-blue-600"></i>
      <span class="text-gray-700">Cobertura</span>
    </label>
   </div>
</div>

<!-- Upload -->
<section class="border-2 border-dashed border-blue-300 p-6 rounded-lg text-center cursor-pointer">
  <i class="fas fa-cloud-upload-alt text-blue-500 text-3xl"></i>
  <p class="mt-2 text-sm text-gray-600">Arraste imagens ou escolha arquivos</p>
  
  <!-- Aceita múltiplos arquivos -->
  <input type="file" multiple (change)="onFilesSelected($event)" class="mt-2"/>

  <!-- Lista de previews -->
@if (previews.length > 0) {
	<div class="grid grid-cols-3 gap-4 mt-4">
		<div *ngFor="let img of previews; let i = index" class="relative">
			<img [src]="img" alt="Preview" class="w-full h-32 object-cover rounded-md shadow"/>
			<!-- Botão para remover -->
			<button type="button"
					(click)="removerImagem(i)"
					class="absolute top-2 right-2 bg-red-600 text-white rounded-full px-2 py-1 text-xs">
				X
			</button>
		</div>
	</div>
}
</section>

  <!-- Descrição -->
  <div>
    <label class="block text-sm font-semibold text-gray-700">Descrição</label>
    <textarea rows="4" class="mt-2 block w-full border border-gray-400 rounded-lg px-4 py-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
  </div>

  <!-- Endereço -->
  <div class="bg-green-50 border rounded-lg p-6 shadow-sm">
    <h3 class="text-xl font-bold text-blue-700 mb-4">Endereço do Imóvel</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="col-span-2">
        <label class="block text-gray-700 font-medium mb-2">CEP</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="cep">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Logradouro</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="logradouro">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Número</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="numero">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Complemento</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="complemento">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Bairro</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="bairro">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Cidade</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="cidade">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-2">Estado</label>
        <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2" formControlName="estado">
      </div>
    </div>
  </div>

  <!-- Proprietário -->
  <div class="bg-white border rounded-lg p-6 shadow-sm">
    <h3 class="text-xl font-bold text-blue-700 mb-4">Dados do Proprietário</h3>
      <!-- Tipo -->
      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2">Tipo de Proprietário</label>
        <select class="w-full border border-gray-400 rounded-lg px-3 py-2" (change)="selecionarTipo($event)">
          <option>Selecione...</option>
          <option value="pessoa_fisica" [defaultSelected]="true">Pessoa Física</option>
          <option value="pessoa_juridica">Pessoa Jurídica</option>
        </select>
      </div>

    <!-- Campos Pessoa Física -->
   @if (isPessoaFisica()) {
      <div id="campos-fisica" class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 font-medium mb-2">Nome</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Email</label>
          <input type="email" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">RG</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">CPF</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div class="col-span-2">
          <label class="block text-gray-700 font-medium mb-2">Data de Nascimento</label>
          <input type="date" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
      </div>
    }
  
    <!-- Campos Pessoa Jurídica -->
   @if (isPessoaJuridica()) {
      <div id="campos-juridica" class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 font-medium mb-2">Razão Social</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Email</label>
          <input type="email" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">CNPJ</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Inscrição Estadual</label>
          <input type="text" class="w-full border border-gray-400 rounded-lg px-3 py-2">
        </div>
      </div>
   }
  </div>

  <!-- Botões -->
  <div class="flex justify-end space-x-4 pt-6 border-t">
    <button class="bg-gray-200 text-gray-700 px-6 py-2 rounded-lg hover:bg-gray-300 transition">
      Cancelar
    </button>
    <button class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition">
      Salvar Imóvel
    </button>
  </div>
</div>






