<div class="max-w-11/12 mx-auto bg-white shadow rounded-lg p-8 space-y-6">
  <h2 class="text-2xl font-bold text-gray-800">Cadastrar Imóvel</h2>
  <p class="text-gray-600">Preencha os dados abaixo para cadastrar um novo imóvel.</p>

  <!-- Título -->
  <div>
    <label class="block text-sm font-medium text-gray-700">Título do Imóvel</label>
    <input type="text"
           class="mt-1 block w-full border rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <!-- Tipo -->
  <div>
    <label class="block text-sm font-medium text-gray-700">Tipo de Imóvel</label>
    <select class="mt-1 block w-full border rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500">
      <option value="">Selecione...</option>
      <option value="casa">Casa</option>
      <option value="apartamento">Apartamento</option>
      <option value="terreno">Terreno</option>
      <option value="comercial">Comercial</option>
    </select>
  </div>

  <!-- Preço -->
  <div>
    <label class="block text-sm font-medium text-gray-700">Preço</label>
    <input type="number" class="mt-1 block w-full border rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500"/>
  </div>

  <!-- Características -->
  <div class="grid grid-cols-2 gap-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Quartos</label>
      <input  type="number" class="mt-1 block w-full border rounded-md px-3 py-2"/>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Banheiros</label>
      <input  type="number" class="mt-1 block w-full border rounded-md px-3 py-2"/>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Garagem</label>
      <input type="number" class="mt-1 block w-full border rounded-md px-3 py-2"/>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Área (m²)</label>
      <input type="number" class="mt-1 block w-full border rounded-md px-3 py-2"/>
    </div>
  </div>

 <!-- Upload de imagem -->
 <div class="min-h-60 bg-blue-50 flex items-center justify-center">
    <div class="max-w-3xl w-full bg-white shadow rounded-lg p-8 space-y-6">
        <label class="block text-sm font-medium text-gray-700">Imagem do Imóvel</label>
        <input type="file" (change)="onFileSelected($event)"
            class="mt-1 block w-full text-sm text-gray-600 file:mr-4 file:py-2 file:px-4
                    file:rounded-md file:border-0 file:text-sm file:font-semibold
                    file:bg-blue-600 file:text-white hover:file:bg-blue-700"/>
        <!-- Preview -->
        <div *ngIf="preview" class="mt-3">
            <img [src]="preview" alt="Preview" class="w-full h-48 object-cover rounded-md shadow"/>
        </div>
    </div>
</div>

<!-- Descrição -->
<div>
  <label class="block text-sm font-medium text-gray-700">Descrição</label>
  <textarea rows="4" class="mt-1 block w-full h-60 border rounded-md px-3 py-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
</div>

<!-- Endereço -->
<div class="mt-8 border border-gray-300 rounded-lg p-6 bg-gray-50">
  <h3 class="text-xl font-semibold mb-4">Endereço do Imóvel</h3>
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2">
      <label class="block text-gray-700 font-medium mb-2">CEP</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="cep">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Logradouro</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="logradouro">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Número</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="numero">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Complemento</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="complemento">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Bairro</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="bairro">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Cidade</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="cidade">
    </div>
    <div>
      <label class="block text-gray-700 font-medium mb-2">Estado</label>
      <input type="text" class="w-full border rounded-lg px-3 py-2" formControlName="estado">
    </div>
  </div>
</div>

<!-- Seção Proprietário -->
<div id="secao-proprietario" [ngClass]="getSecaoClasses()" class="mt-8 border border-gray-300 rounded-lg p-6 bg-gray-50">
  <h3 class="text-xl font-semibold mb-4">Dados do Proprietário</h3>

  <!-- Tipo -->
  <div class="mb-4">
    <label class="block text-gray-700 font-medium mb-2">Tipo de Proprietário</label>
    <select class="w-full border rounded-lg px-3 py-2" (change)="selecionarTipo($event)">
      <option>Selecione...</option>
      <option value="pessoa_fisica" [defaultSelected]="true">Pessoa Física</option>
      <option value="pessoa_juridica">Pessoa Jurídica</option>
    </select>
  </div>

  <!-- Campos Pessoa Física -->
   @if (isPessoaFisica()) {
      <div id="campos-fisica" class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 font-medium mb-2">Nome</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Email</label>
          <input type="email" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">RG</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">CPF</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div class="col-span-2">
          <label class="block text-gray-700 font-medium mb-2">Data de Nascimento</label>
          <input type="date" class="w-full border rounded-lg px-3 py-2">
        </div>
      </div>
   }
 
  <!-- Campos Pessoa Jurídica -->
   @if (isPessoaJuridica()) {
      <div id="campos-juridica" class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-gray-700 font-medium mb-2">Razão Social</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Email</label>
          <input type="email" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">CNPJ</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2">Inscrição Estadual</label>
          <input type="text" class="w-full border rounded-lg px-3 py-2">
        </div>
      </div>
   }
</div>

  <!-- Botões -->
  <div class="flex justify-end space-x-3">
    <button class="bg-gray-200 text-gray-700 px-6 py-2 rounded-md hover:bg-gray-300 transition">
      Cancelar
    </button>
    <button class="bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition">
      Salvar Imóvel
    </button>
  </div>
</div>